* {
  font-family: 'Inter', sans-serif;
}

.divided {
  display: flex;
  justify-content: space-around;
}

.scores-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: auto;
}

.add-score {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.table {
  border: 1px solid black;
}

li {
  list-style-type: none;
}

li:nth-child(odd) {
  background-color: #f2f2f2;
}

.refresh-btn {
  width: 70px;
  height: 20px;
}

.sub-btn {
  display: flex;
  justify-content: flex-end;
}

.score {
  margin: 15px 0;
}

.title {
  margin-left: 15px;
}

.list {
  padding: 4px 0 4px 4px;
}
