@media only screen and (max-width: 700px) {
  * {
    font-family: 'Inter', sans-serif;
  }

  body {
    background-color: #e2e9fd;
  }

  .scores-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .add-score {
    display: flex;
    flex-direction: column;
  }

  .table {
    border: 1px solid black;
  }

  li {
    list-style-type: none;
  }

  li:nth-child(odd) {
    background-color: #f2f2f2;
  }

  .input-name,
  .score {
    width: 100%;
    margin: 10px 0;
  }

  .s-btn,
  .refresh-btn {
    width: 120px;
    margin: 10px 0;
    background-color: white;
  }

  .list {
    padding: 4px 0 4px 4px;
  }
}

@media only screen and (min-width: 701px) {
  * {
    font-family: 'Inter', sans-serif;
  }

  body {
    background-color: #cdffcd;
  }

  .divided {
    display: flex;
    justify-content: space-around;
  }

  .whole-scores-container {
    width: 50%;
  }

  .scores-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .add-score {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .table {
    border: 1px solid black;
    width: 100%;
  }

  li {
    list-style-type: none;
  }

  li:nth-child(odd) {
    background-color: #f2f2f2;
  }

  .refresh-btn,
  .s-btn {
    width: 120px;
    margin: 10px 0;
    background-color: white;
  }

  .sub-btn {
    display: flex;
    justify-content: flex-end;
  }

  .score {
    margin: 15px 0;
  }

  .title {
    margin-left: 20px;
    text-decoration: underline;
  }

  .list {
    padding: 4px 0 4px 4px;
    font-size: larger;
  }

  .input-name,
  .score {
    width: 98%;
    margin: 10px 0;
  }
}
